<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!--
      From Android 11 an application sees only the packages it declares an interest in. Asking which
      browser offers Custom Tabs and Auth Tab needs the Custom Tabs service to be visible.
    -->
    <queries>
        <intent>
            <action android:name="android.support.customtabs.action.CustomTabsService" />
        </intent>
    </queries>
</manifest>
